.dialog {
    display: flex;
    min-height: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.dialog img {
    width: 140px;
    height: 100px;
}

.dialog a {
    text-decoration: none;
    color: #6d6e71;
}

