.form-control {

}

.formControl.error input,
.formControl.error textarea
{
    border: 1px solid red
}

.formControl.error span {
    color: red;

}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: red;
}

.input {
    background: #fff;
    color: #939598;
    border-radius: 30px;
    box-shadow: none;
    outline: none;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}

