.header {
    grid-area: h;
    background-color: #231F20;
    padding: 15px;
}

.header img {
    width: 10%;
}

.loginBlock {
    float: right;
    color: #fff;
}

.loginBlock a {
    color: #fff;
    text-decoration: none;
}