.header {
    grid-area: h;
    background-color: #231F20;;
}

.header img {
    width: 40px;
}

.loginBlock {
    float: right;
    color: #fff;
}

.loginBlock a {
    color: #fff;
    text-decoration: none;
}