.nav  {
    grid-area: n;
    background-color: #ffffff;
}

.item {
    border-bottom: 1px solid #f1f2f2;
    padding: 30px;
}

.item a{
    color: #6d6e71;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}