.photoBlock {
    padding: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f8f8f8;
    margin-right: 20px;
    border-radius: 10px;
}

.photoBlock img {
    max-width: 200px;
    border-radius: 10px;
}

.description {
    width: 70%;
    background-color: #f8f8f8;
    border-radius: 10px;
}

.userInfo {
    display: flex;
}