.photoBlock {
    padding: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.photoBlock img {
    max-width: 200px;
    border-radius: 10px;
}

.description {
    width: 70%
}

.userInfo {
    display: flex;
}