.loginContainer {
    height: 100%;
}
.login {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: red;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    margin : 10px
}

.button {
    margin: 20px;
}