.dialogs {
    display: flex;
    height: 100%;
}


.dialogsItems {
    background-color: #f8f8f8;
    width: 20%;
    border-radius: 10px;
}

.messages {
    background-color: #f8f8f8;
    width: 40%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messageForm {
    background-color: #f8f8f8;
    width: 40%;
    margin: 0px 10px;
    border-radius: 10px;
}
