

.message {
    display: flex;
    width: 50%;
    margin: 5px 0px;
    padding: 5px 0px 0px 5px;
    position: relative;
    background-color: #27aae1;
    border-radius: 10px;
    min-height: 50px;
}

.message::after {
    content: '';
    position: absolute;
    border-bottom: 15px solid #27aae1;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0px;
    left: -15px;
}
